@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
  transition: background-color 0.3s;
}

body {
  background-color: white;
}

body.dark {
  background-color: #000;
  /* background-color: #333; */
  color: white;
}

.sections {
  margin-top: 62px;
}

